@model CapstoneProject_Autolavaggi.Models.AutolavaggioViewModel

@{
    ViewData["Title"] = "Prenotazione Servizio";
}
<br />
<body class="bg-prenot">


<div class="container content mb-5">
        <h2 class="mb-4">Prenota un Servizio presso @Model.Autolavaggio.Nome</h2>
    <form id="prenotazioneForm" asp-action="ConfermaPrenotazione" method="post">
        @Html.AntiForgeryToken()
        <input type="hidden" asp-for="NuovaPrenotazione.AutolavaggioId" />
        <input type="hidden" asp-for="NuovaPrenotazione.ServizioId" />

        <div class="form-group mb-4">
            <label class="fw-bold fs-5">SERVIZIO SCELTO:</label>
            @{
                var servizioSelezionato = Model.Servizi.FirstOrDefault(s => s.Id == Model.NuovaPrenotazione.ServizioId);
            }
            <input type="text" class="form-control" value="@servizioSelezionato?.Nome" disabled />
        </div>

        <div class="form-group mb-4">
            <label class="fw-bold fs-5">SELEZIONA GIORNO E DATA DESIDERATA:</label>
            <input asp-for="NuovaPrenotazione.Data" class="form-control" type="datetime-local" id="dataPrenotazione" />
        </div>

        <div class="form-group mt-5">
            <input type="submit" value="Conferma Prenotazione" class="btn bg-blue text-white" />
                <a href="javascript:void(0);" onclick="history.back();" class="btn btn-secondary">Annulla</a>
        </div>
    </form>
</div>


<!-- Modale di conferma -->
<div class="modal fade" id="confirmModal" tabindex="-1" aria-labelledby="confirmModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="confirmModalLabel">Conferma Prenotazione</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Sei sicuro di voler confermare la prenotazione?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annulla</button>
                <button type="button" class="btn btn-primary" id="confirmButton">Conferma</button>
            </div>
        </div>
    </div>
</div>
</body>

<script>
    $(document).ready(function () {
        var today = new Date();
        var year = 2024;
        var minDate = new Date(year, 0, 1); // 1 gennaio 2024
        var minDateStr = minDate.toISOString().slice(0, 16); // Formato YYYY-MM-DDTHH:MM

        // Imposta il valore minimo e iniziale del campo datetime-local
        var dataPrenotazione = $('#dataPrenotazione');
        dataPrenotazione.attr('min', minDateStr);

        // Imposta la data predefinita per il campo datetime-local
        var defaultDateStr = minDate.toISOString().slice(0, 16);
        dataPrenotazione.val(defaultDateStr);


        // Imposta l'ora minima e massima del campo datetime-local
        $('#dataPrenotazione').on('input', function () {
            var value = $(this).val();
            var hour = value.slice(11, 13);
            if (hour < 8 || hour > 19) {
                alert('L\'ora deve essere compresa tra le 08:00 e le 19:00.');
                $(this).val('');
            }
        });
        // Mostra il modale quando si invia il form
        $('#prenotazioneForm').on('submit', function (event) {
            event.preventDefault(); // Previene l'invio immediato del form
            var form = $(this);

            // Mostra il modale di conferma
            $('#confirmModal').modal('show');

            // Aggiungi un listener per il pulsante di conferma
            $('#confirmButton').on('click', function () {
                // Chiudi il modale
                $('#confirmModal').modal('hide');

                // Invia il form
                form.off('submit').submit();
            });
        });
    });
</script>
