html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}



.rating {
    direction: ltr;
    
}

    .rating label {
        color: #ddd;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
        display: inline-block;
    }

        .rating label:before {
            content: "\2605";
        }

    .rating input:checked  {
        color: #ddd;
    }

    .rating input:checked + label,
    .rating input:checked  {
        color: #f5c518;
    }

    
    .rating label:hover {
        color: #f5c518;
    }




//Homepage


.hero {
    background: url('path/to/your-image.jpg') no-repeat center center;
    background-size: cover;
    color: #fff;
    padding: 100px 0;
}

.hero h1 {
    font-size: 3rem;
}

.feature-icon {
    font-size: 2rem;
    color: #007bff;
}

.blue {
    color:darkblue;
}

.bg-blue{
    background-color:darkblue;
}



#logo {
    max-height: auto; 
    width: 6em;
}


.bg-schiuma {
    background-image: url('../images/schiuma.jpg');
    
}
