html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}




.navbar-toggler {
    color: white; 
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}




.rating {
    direction: ltr;
    
}

    .rating label {
        color: #ddd;
        font-size: 2rem;
        padding: 0;
        cursor: pointer;
        display: inline-block;
    }

        .rating label:before {
            content: "\2605";
        }

    .rating input:checked  {
        color: #ddd;
    }

    .rating input:checked + label,
    .rating input:checked  {
        color: #f5c518;
    }

    
    .rating label:hover {
        color: #f5c518;
    }



.blue {
    color:darkblue;
}

.bg-blue{
    background-color:darkblue;
}



#logo {
    max-height: auto; 
    width: 6em;
}


.bg-schiuma {
    background-image: url('../images/schiuma.jpg');
    
}

.font {
    font-family: "Lobster", sans-serif;
    font-weight: 400;
    font-style: normal;
}